!DOCTYPE html>
<html>
<head>
  <title>SAMPLE PROJECT</title>
  <link rel="stylesheet" href="css/vendor.css">
  <link rel="stylesheet" href="css/main.css">
</head>
<body>

  <h1>Hello</h1>

  <script src="js/vendor.js"></script>
  <script src="js/main.js"></script>
</body>
</html> -->


<!DOCTYPE html>
<html>
<head>
  <title>EtsyNeat</title>
  <!-- <link rel="stylesheet" href="/bower_components/normalize.css/normalize.css"> -->
  <link rel="stylesheet" href="css/vendor.css">
  <link rel="stylesheet" href="css/main.css">
  <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
</head>

<header>
  <div class="navtop">
      <div id="navone">
        <ul>
          <li id="Etsy">Etsy</li>
          <li id="whiskey"><input type="text" placeholder="whiskey" name="item" size="30" maxlength="85"></input></li>
          <li id="Search"><a href="#"><input type="submit" value="Search" size="20px"></input></a></li>  

          <li id="Sell"><a href="#">Sell on Etsy</a></li>
          <li id="Register"><a href="#">Register</a></li>
          <li id="Signin"><a href="#"><input type="submit" value="Sign In" size="30"></input></a></li>        
          <li id="cart icon"><a href="#"><img src="images/EstyNeat Images/cart.png"></a>Cart</li>   
        </ul>
      </div>

          

      <div id="navtwo">
        <ul>
          <li id="Clothing"><a href="#">Clothing &#38 Accessories</a></li>
          <li id="Jewelry"><a href="#">Jewelry</a></li>
          <li id="Craft"><a href="#">Craft Supplies &#38 Tools</a></li>
          <li id="Weddings"><a href="#">Weddings</a></li>
          <li id="Entertainment"><a href="#">Entertainment</a></li>
          <li id="Home"><a href="#">Home &#38 Living</a></li>
          <li id="Kids"><a href="#">Kids &#38 Baby</a></li>
          <li id="Vintage"><a href="#">Vintage</a></li>
        </ul>
      </div> 
   </div>    
 </header> 

 <body>


  <div class="container">
    <div class="Show">
          <p>Show results for:</p>
     </div>

    <div class="forsaleimages">
      <h2>Top categories for "whiskey"</h2>
      
    </div>


 <div class="sidebars"> 
    <div id="sidebartop">
      <h3>All Categories</h3>
      <ul>
        <li id="Home2"><a href="#">Home &#38 Living</a></li>
        <li id="Art"><a href="#">Art &#38 Collectibles</a></li>
        <li id="Weddings2"><a href="#">Weddings</a></li>
        <li id="Clothing"><a href="#">Clothing</a></li>
        <li id="Jewelry2"><a href="#">Jewelry</a></li>
        <li id="Paper"><a href="#">Paper &#38 Party Supplies</a></li>
        <li id="Accessories"><a href="#">Accessories</a></li>
        <li id="Craft2"><a href="#">Craft Supplies &#38 Tools</a></li>
        <li id="Bags"><a href="#">Bags &#38 Purses</a></li>
        <li id="Bath"><a href="#">Bath &#38 Beauty</a></li>
        <li id="Shoes"><a href="#">Shoes</a></li>
        <li id="Books"><a href="#">Books, Movies &#38 Music</a></li>
        <li id="Electronics"><a href="#">Electronics &#38 Accessories</a></li>
        <li id="Toys"><a href="#">Toys &#38 Electronics</a></li>
        <li id="Pet Supplies"><a href="#">Pet Supplies</a></li>

      </ul>
    </div>

    <div class="Refine"> 

      <p>Refine your Search</p>
     </div>    

   <div class="sidebarbottom">
    <div class="radiochoices">
      <h3>Item Type</h3>
      <ul>
        <li><a><input type="radio" name="itemtype" value="All Items" checked="checked">  All Items</input></a></li>
        <li><a><input type="radio" name="itemtype" value="Handmade" checked="checked">  Handmade</input></a></li>
        <li><a><input type="radio" name="itemtype" value="Vintage" checked="checked"> Vintage</input></a></li>
        <hr></hr>
      </ul>

    </div>
    

    <div class="Price">
      <h3>Price</h3>
        <p><input type="text" placeholder="$ Low   " name="price" size="7"></input> to <input type="text" placeholder="$ High   " name="price" size="7"></input><input type="submit" value="&#9830"><a href="#"< name="price" size="4"></a></input></p>
        <hr></hr>
    </div>

    <div class="Filtercolors">
      <h3>Filter by Color</h3>
        <div id="redbox"><button><a href="#"></a></button></div>
        <div id="orangebox"><button><a href="#"></a></button></div>
        <div id="yellowbox"><button><a href="#"></a></button></div>
        <div id="greenbox"><button><a href="#"></a></button></div>
        <div id="bluebox"><button><a href="#"></a></button></div>
        <div id="purplebox"><button><a href="#"></a></button></div>
        <div id="blackbox"><button><a href="#"></a></button></div>
        <div id="whitebox"><button><a href="#"></a></button></div>
        <hr></hr>
    </div>

      <div class="Orderoptions">
        <h3>Ordering Options</h3>
          <ul>    
            <li><input type="checkbox" name="Orderoptions" value="Accepts Etsy Gift Cards" checked="checked"> Accepts Etsy Gift Cards</input></li>
            <li><input type="checkbox" name="Orderoptions" value="Customizable"> Customizable</input></li>
            <hr></hr>
           </ul> 
       </div>
       
     <div class="Location"> 
      <h3>Shop Location</h3>
        <ul>
          <li><a><input type="radio" name="location" value="Anywhere" checked="checked">  Anywhere</input></a></li>
          <li><a><input type="radio" name="location" value="United States" checked="checked">  United States</input></a></li>
          </ul>
    </div>
        <div class="customlocation"><a href="#">Choose a custom location</a><hr></hr></div> 

      <div class="Shipto">
        <p>Ship To</p>
          <Select name="shipto">
            <option value="United States">United States</option>
            <option value="United Kingdom">United Kingdom</option>
            <option value="Canada">Canada</option>
            <option name="Mexico">Mexico</option>   
      
     </div>   
            

        
  </div>  
  </div>

   


   <footer>
      <div class="RelatedtoWhiskey">
      
        <ul></ul>
      </div>      
   </footer>






   <div class="Container"></div>

   <script type="text/template" id="itemTemplate">
   <div class="forsaleimages">
    <img src="<%= Images [0].url_170x135%>">
    <div class="url"><a href="<%= url %>"> 
    <div class="title"> <%= title %> </div>
    <div class="price"> <%= price %> </div>
    <div class="currency"> <%= currency_code %> </div>
    <div class="shop"> <%= Shop.shop_name %> </div>
      
    </div>    
    
       </script>
               
    



<!--   // <script src="bower_components/jquery/dist/jquery.min.js"></script>
  // <script src="bower_components/underscore/underscore-min.js"></script> -->
  
  <script src="js/vendor.js"></script>
  <script src="js/main.js"></script>
  
</body>
</html>









<!-- // skip to content -->
<!-- This repository  
Search
Pull requests
Issues
Gist
 @vpdolan
 Unwatch 1
  Star 0
 Fork 0 vpdolan/EstyNeat
Branch: master  EstyNeat/index.html
@vpdolanvpdolan 14 hours ago updated sidebars
1 contributor
RawBlameHistory     185 lines (140 sloc)  6.06 KB
<!DOCTYPE html>
<!-<html> -->
<!-- <head> -->
  <!-- <title>EtsyNeat</title>
  <link rel="stylesheet" href="bower_components/normalize.css/normalize.css">
  <link rel="stylesheet" href="css/main.css">
  <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
</head>

<header>
  <div class="navtop">
      <div id="navone">
        <ul>
          <li id="Etsy">Etsy</li>
          <li id="whiskey"><input type="text" placeholder="whiskey" name="item" size="30" maxlength="85"></input></li>
          <li id="Search"><a href="#"><input type="submit" value="Search" size="20px"></input></a></li>  

          <li id="Sell"><a href="#">Sell on Etsy</a></li>
          <li id="Register"><a href="#">Register</a></li>
          <li id="Signin"><a href="#"><input type="submit" value="Sign In" size="30"></input></a></li>        
          <li id="cart icon"><a href="#"><img src="images/EstyNeat Images/cart.png"></a>Cart</li>   
        </ul>
      </div>

          

      <div id="navtwo">
        <ul>
          <li id="Clothing"><a href="#">Clothing &#38 Accessories</a></li>
          <li id="Jewelry"><a href="#">Jewelry</a></li>
          <li id="Craft"><a href="#">Craft Supplies &#38 Tools</a></li>
          <li id="Weddings"><a href="#">Weddings</a></li>
          <li id="Entertainment"><a href="#">Entertainment</a></li>
          <li id="Home"><a href="#">Home &#38 Living</a></li>
          <li id="Kids"><a href="#">Kids &#38 Baby</a></li>
          <li id="Vintage"><a href="#">Vintage</a></li>
        </ul>
      </div> 
   </div>    
 </header> 

 <body>


  <div class="container">
    <div class="Show">
          <p>Show results for:</p>
     </div>

    <div class="forsaleimages">
      <h2>Top categories for "whiskey"</h2>
      
    </div>


 <div class="sidebars"> 
    <div id="sidebartop">
      <h3>All Categories</h3>
      <ul>
        <li id="Home2"><a href="#">Home &#38 Living</a></li>
        <li id="Art"><a href="#">Art &#38 Collectibles</a></li>
        <li id="Weddings2"><a href="#">Weddings</a></li>
        <li id="Clothing"><a href="#">Clothing</a></li>
        <li id="Jewelry2"><a href="#">Jewelry</a></li>
        <li id="Paper"><a href="#">Paper &#38 Party Supplies</a></li>
        <li id="Accessories"><a href="#">Accessories</a></li>
        <li id="Craft2"><a href="#">Craft Supplies &#38 Tools</a></li>
        <li id="Bags"><a href="#">Bags &#38 Purses</a></li>
        <li id="Bath"><a href="#">Bath &#38 Beauty</a></li>
        <li id="Shoes"><a href="#">Shoes</a></li>
        <li id="Books"><a href="#">Books, Movies &#38 Music</a></li>
        <li id="Electronics"><a href="#">Electronics &#38 Accessories</a></li>
        <li id="Toys"><a href="#">Toys &#38 Electronics</a></li>
        <li id="Pet Supplies"><a href="#">Pet Supplies</a></li>

      </ul>
    </div>

    <div class="Refine"> 

      <p>Refine your Search</p>
     </div>    

   <div class="sidebarbottom">
    <div class="radiochoices">
      <h3>Item Type</h3>
      <ul>
        <li><a><input type="radio" name="itemtype" value="All Items" checked="checked">  All Items</input></a></li>
        <li><a><input type="radio" name="itemtype" value="Handmade" checked="checked">  Handmade</input></a></li>
        <li><a><input type="radio" name="itemtype" value="Vintage" checked="checked"> Vintage</input></a></li>
        <hr></hr>
      </ul>

    </div>
    

    <div class="Price">
      <h3>Price</h3>
        <p><input type="text" placeholder="$ Low   " name="price" size="7"></input> to <input type="text" placeholder="$ High   " name="price" size="7"></input><input type="submit" value="&#9830"><a href="#"< name="price" size="4"></a></input></p>
        <hr></hr>
    </div>

    <div class="Filtercolors">
      <h3>Filter by Color</h3>
        <div id="redbox"><button><a href="#"></a></button></div>
        <div id="orangebox"><button><a href="#"></a></button></div>
        <div id="yellowbox"><button><a href="#"></a></button></div>
        <div id="greenbox"><button><a href="#"></a></button></div>
        <div id="bluebox"><button><a href="#"></a></button></div>
        <div id="purplebox"><button><a href="#"></a></button></div>
        <div id="blackbox"><button><a href="#"></a></button></div>
        <div id="whitebox"><button><a href="#"></a></button></div>
        <hr></hr>
    </div>

      <div class="Orderoptions">
        <h3>Ordering Options</h3>
          <ul>    
            <li><input type="checkbox" name="Orderoptions" value="Accepts Etsy Gift Cards" checked="checked"> Accepts Etsy Gift Cards</input></li>
            <li><input type="checkbox" name="Orderoptions" value="Customizable"> Customizable</input></li>
            <hr></hr>
           </ul> 
       </div>
       
     <div class="Location"> 
      <h3>Shop Location</h3>
        <ul>
          <li><a><input type="radio" name="location" value="Anywhere" checked="checked">  Anywhere</input></a></li>
          <li><a><input type="radio" name="location" value="United States" checked="checked">  United States</input></a></li>
          </ul>
    </div>
        <div class="customlocation"><a href="#">Choose a custom location</a><hr></hr></div> 

      <div class="Shipto">
        <p>Ship To</p>
          <Select name="shipto">
            <option value="United States">United States</option>
            <option value="United Kingdom">United Kingdom</option>
            <option value="Canada">Canada</option>
            <option name="Mexico">Mexico</option>   
      
     </div>   
            

        
  </div>  
  </div>

   


   <footer>
      <div class="RelatedtoWhiskey">
      
        <ul></ul>
      </div>      
   </footer>






   <div class="Container" <</div>
   <script type="text/template" id=itemTemplate">
   <div>
    <p><%= title %></p>
    <p> class="price"> <%= price %> </p> 
      <img src="<%= Images [0].url_170x135%>"> 

    </div>
       </script>
               
    



  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/underscore/underscore-min.js"></script>
  <script src="js/items.js"></script>
  <script src="js/main.js"></script>
  
</body>
</html>
Status API Training Shop Blog About Pricing
© 2015 GitHub, Inc. Terms Privacy Security Contact Help
 -->